# git/도구
.git
.gitignore
.gitattributes
.gitmodules
__pycache__/
*.py[cod]
*.log

# 장고 산출물
db.sqlite3
media/
staticfiles/

# 환경/시크릿
.env
.env.*
secrets/
*.pem
*.key
*.p12
*.pfx
*.crt
*.cer
*.der
*.ovpn
*.jks
*.keystore
*.kdb

# OS/IDE
.DS_Store
.vscode/
.idea/
